@keyframes fileAppear {
    from { transform: scale(0); }
    to { transform: scale(1); }
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(1);}
    to { opacity: 1; transform: scale(1)}
}
@keyframes fadeOut {
    from { opacity: 1; transform: scale(1);}
    to { opacity: 0; transform: scale(1);}
}

@media only screen and (max-width: 768px) {
    .profile-page, .profile-page > div {
        padding: 0px !important;
        margin: 0px !important;
    }
    .rounded {
        border-radius: 0px !important;
    }
  }

.profile-page {
    padding-right: 0px;
    margin-right: 0px;
}

.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.edit-profile-btn {
    color: white;
    width: 100%;
    background-size: 120%;
    opacity: 80%;
    background-position: left;
    background-image: linear-gradient(90deg, rgba(255,192,74,1) 0%, rgba(255,99,71,1) 100%);
    border: none;
    transition: 0.3s;
}

.confirm-button {
    color: white;
    height: 2rem;
    font-size: 1.1rem;
    font-weight: 400;
    background-size: 120%;
    background-position: left;
    background-image: linear-gradient(90deg, rgba(255,192,74,1) 0%, rgba(255,99,71,1) 100%);
    border: none;
    transition: 0.3s;
}

.edit-profile-btn:hover, .confirm-button:hover {
    background-position: right;
    transform: scale(1.01);
}

.edit-profile-btn:focus, .confirm-button:focus {
    box-shadow: none;
}

.dropzone.disabled {
    animation: 0.3s ease-in-out 0s fadeOut;
    transform: scale(0);
}

.dropzone.enabled {
    transform: scale(1);
    animation: 0.3s ease-in-out 0s fadeIn;
    opacity: 1;
}

.dropzone {
    transform: scale(0);
	width: 130px;
	height: 130px;
    max-width: 50%;
    max-height: 100%;
    display: block;
	border: 1px dashed #999;
	border-radius: 3px;
	text-align: center;
    position: fixed;

}

.dropzone.img-thumbnail{background-color:rgba(0, 0, 0, 0.3)}
.dropzone.img-thumbnail:hover{background-color:rgba(0, 0, 0, 0.2)}

.upload-icon {
	margin: 45px 2px 2px 2px;
}

::-webkit-file-upload-button { cursor:pointer; }

.upload-input {
	position: relative;
	top: -88px;
	left: -5px;
	width: 130px;
	height: 130px;
	opacity: 0;
    cursor: pointer;
}

.file {
    animation: 0.2s ease-in-out 0s fileAppear;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.file:hover {
    transform: scale(1.05);
    background-color: rgba(0,0,0,0.03);
    text-shadow: gray;
}

#edit-field {
    width: 100%;
    max-height: 0;
    padding-bottom: 3px;
    transition: max-height 0.5s ease-in-out;
    overflow-y: hidden;
    margin: 0;
}

#edit-field.enabled {
    max-height: 18rem;
}

@media screen and (max-width: 768px) {
    #edit-field.enabled {
        max-height: 36rem;
    }
}

.form-control:focus {
    box-shadow: 0px 0px 5px rgba(255,128,71,1);
    border-color: rgba(255,128,71,1);
}
