.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.editProfileBtn {
    color: white;
    width: 100%;
    background-size: 120%;
    opacity: 80%;
    background-position: left;
    background-image: linear-gradient(90deg, rgba(255,192,74,1) 0%, rgba(255,99,71,1) 100%);
    border: none;
    transition: background-position 0.3s;
}

.editProfileBtn:hover {
    background-position: right;
}

.file {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.file:hover {
    transform: scale(1.05);
    background-color: rgba(0,0,0,0.03);
    text-shadow: gray;
}