<div class="omega-fade-in">
    <div id="top-part">
        <div class="text-center">
            <h1>File sharing and storage made simple</h1>
            <h3 class="pt-5">start off your journey today!</h3>
            <div class="row justify-content-center">
                <button class="col col-11 col-md-auto logreg-btn btn btn-lg btn-primary" [routerLink]="['/register']">Register for
                    FREE</button>
                <h4 class="col col-md-0 col-auto align-self-center">or</h4>
                <button class="col col-11 col-md-auto logreg-btn btn btn-lg btn-primary" style="float: left;" [routerLink]="['/login']">Login</button>
            </div>
        </div>
    </div>
    <div id="middle-part">
        <div class="row p-5 text-center">
            <div class="features col-lg">
                <img src="assets/img/home imgs/share.svg" alt="share">
                <h3>Share</h3>
                <p> Share through a link or social network. Unlimited downloads with no wait times. </p>
            </div>
            <div class="features col-lg">
                <img src="assets/img/home imgs/collaborate.svg" alt="collaborate">
                <h3>Collaborate</h3>
                <p> Store and share any file type. Share ZIPs or RARs of project files. Easily share large files. </p>
            </div>
            <div class="features col-lg">
                <img src="assets/img/home imgs/store.svg" alt="store">
                <h3>Store</h3>
                <p> Unlimited data for free. Store all your photos, audio, videos and more. </p>
            </div>
            <div class="features col-lg">
                <img src="assets/img/home imgs/access.svg" alt="access">
                <h3>Access</h3>
                <p> Always have your important files with you. Never forget your work at home. View, manage, and share
                    from anywhere. </p>
            </div>
        </div>
    </div>
</div>