@keyframes fileAppear {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

@keyframes fileAppear2 {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

.pc, .mobile, .dropzone, .btn{
	margin: 0.75rem auto 0.75rem auto;
}

.fileAppear {
	animation: 0.15s ease-in-out 0s fileAppear;
}

.fileAppear2 {
	animation: 0.15s ease-in-out 0s fileAppear2;
}

.center {
	margin: 15vh auto 10vh auto;
	width: 300px;
	height: auto;
	border-radius: 3px;
	box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
	background: #efefef;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	transition: height 1s ease-in-out;
}

.title {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #999;
	text-align: center;
}

h1 {
	font-size: 1.2rem;
	font-weight: 400;
	color: #666;
}

@media only screen and (max-width: 768px) {
    h1.pc {
		position: fixed;
		visibility: hidden;
	}
}

@media only screen and (min-width: 769px) {
	h1.mobile {
		position: fixed;
		visibility: hidden;
	}
}

.dropzone {
	width: 150px;
	height: 100px;
	border: 1px dashed #999;
	border-radius: 3px;
	text-align: center;
}

.dropzone:hover {
	background-color: rgba(128, 128, 128, 0.05);
}

#upload-icon {
	position: absolute;
	margin: 34.5px 49.5px 34.5px 49.5px;
}

::-webkit-file-upload-button { cursor:pointer; }

.upload-input {
	position: inherit;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.btn {
	display: block;
	width: 140px;
	height: 40px;
    background-image: linear-gradient(90deg, rgba(255,192,74,1) 0%, rgba(255,99,71,1) 100%);
    background-size: 125%;
    transition: background-position 0.5s;
    background-position: left;
    border: none;
	font-size: 14px;
    color: white;
    font-weight: 400;
    transition: 0.3s;
}

.btn:hover {
    background-position: right;
	transform: scale(1.01);
}

.btn:focus {
    box-shadow: 0px 0px 5px rgba(255,99,71,1);
}

#preview-icon {
	position: absolute;
	width: 150px;
	height: 0%;
}

#preview-icon > img {
	padding-top: 5px;
	height: 65px;
}

.form-control:focus {
    box-shadow: 0px 0px 5px rgba(255,128,71,1);
    border-color: rgba(255,128,71,1);
}

.info-icon {
	position: absolute;
	fill: rgba(128, 128, 128, 0.5);
	right: 0;
	margin: 9px;
	width: 1.3rem;
	height: 1.3rem;
}

.info-icon:hover {
	fill: rgba(128, 128, 128, 0.75);
}

.info-box {
	visibility: hidden;
	position: absolute;
	background-color: white;
	font-size: 0.85rem;
	right: 0;
	bottom: 36px;
	padding: 10px;
	border-radius: 0.25rem;
	border: 1px solid #ced4da;
}

.info-icon:hover + .info-box {
	visibility: visible;
}

.addedUser {
	background-color: rgba(144, 238, 144, 0.336);
	position: relative;
	width: 95%;
	padding-left: 4px;
	margin: 4px 0 0 2.5%;
	border-radius: 2px;
	box-shadow: 0 0 0 1px rgb(144, 238, 144);
	max-height: 1.75rem;
	overflow: hidden;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-right: 20px;
	max-width: 13rem;
	transition: max-height 0.2s ease-in-out, margin 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.addedUser.hide {
	margin: 0px 0px 0px 2.5%;
	max-height: 0;
	box-shadow: 0 0 0 1px rgba(144, 238, 144, 0);
}

.addedUser > svg {
	fill: gray;
	float: right;
	margin: 6px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}

.addedUser > svg:hover {
	fill: rgba(128, 128, 128, 0.7);
}

.addedUser.vanishing {
	margin: 0px 0px 0px 2.5%;
	max-height: 0;
	box-shadow: 0 0 0 1px rgba(144, 238, 144, 0);
}

.addedUser.appearing {
	max-height: 0;
}

#show-more-less, #and-more {
	visibility: hidden;
	max-height: 0;
	overflow: hidden;
	float: right;
	text-align: right;
	cursor: pointer;
	margin-bottom: 0;
	transition: max-height 0.2s ease-in-out;
}

#and-more {
	float: left !important;
	font-size: 0.9rem;
}

#show-more-less.shown, #and-more.shown {
	visibility: visible;
	max-height: 1.75rem;
}