@keyframes fileAppear {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

@keyframes fileAppear2 {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

.fileAppear {
	animation: 0.15s ease-in-out 0s fileAppear;
}

.fileAppear2 {
	animation: 0.15s ease-in-out 0s fileAppear2;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 260px;
	border-radius: 3px;
	box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
	background: #efefef;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.title {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #999;
	text-align: center;
}

h1 {
	font-size: 1.2rem;
	font-weight: 400;
	color: #666;
}

@media only screen and (max-width: 768px) {
    h1.pc {
		position: fixed;
		visibility: hidden;
	}
}

@media only screen and (min-width: 769px) {
	h1.mobile {
		position: fixed;
		visibility: hidden;
	}
}

.dropzone {
	width: 150px;
	height: 100px;
	border: 1px dashed #999;
	border-radius: 3px;
	text-align: center;
}

.dropzone:hover {
	background-color: rgba(128, 128, 128, 0.05);
}

#upload-icon {
	margin: 34px 2px 2px 2px;
}

::-webkit-file-upload-button { cursor:pointer; }

.upload-input {
	position: fixed;
	left: 25%;
	width: 150px;
	height: 100px;
	opacity: 0;
	cursor: pointer;
}

.btn {
	display: block;
	width: 140px;
	height: 40px;
    background-image: linear-gradient(90deg, rgba(255,192,74,1) 0%, rgba(255,99,71,1) 100%);
    background-size: 125%;
    transition: background-position 0.5s;
    background-position: left;
    border: none;
	font-size: 14px;
    color: white;
    font-weight: 400;
    transition: 0.3s;
}

.btn:hover {
    background-position: right;
	transform: scale(1.01);
}

.btn:focus {
    box-shadow: 0px 0px 5px rgba(255,99,71,1);
}

#preview-icon {
	position: fixed;
	width: 150px;
	height: 0%;
}

#preview-icon > img {
	padding-top: 5px;
	height: 65px;
}