<div class="d-flex justify-content-center align-items-center" id="main">
    <h1 *ngIf="router.url === '/coffee' || router.url === '/koffie'" class="me-3 pe-3 align-top border-end inline-block align-content-center">418</h1>
    <h1 *ngIf="router.url !== '/coffee' && router.url !== '/koffie'" class="me-3 pe-3 align-top border-end inline-block align-content-center">404</h1>
    <div class="inline-block align-middle">
    	<h2 *ngIf="router.url === '/coffee' || router.url === '/koffie'" class="font-weight-normal lead" id="desc">Dude, I'm a teapot.</h2>
    	<h2 *ngIf="router.url !== '/coffee' && router.url !== '/koffie'" class="font-weight-normal lead" id="desc">Dude, this page does not exist.</h2>
    </div>
</div>