<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-sm" style="z-index: 6;">
    <div class="container-fluid">
        <button id="navbar-btn" class="navbar-toggler collapsed" data-bs-toggle="collapse"
            data-bs-target="#collapse_target" aria-label="open navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/home">
                <img class="img-fluid" sizes="(max-width: 2160px) 100vw, 2160px" srcset="
                assets\img\logo_plat_scale,w_200.png 200w,
                assets\img\logo_plat_scale,w_663.png 663w,
                assets\img\logo_plat_scale,w_1010.png 1010w,
                assets\img\logo_plat_scale,w_1306.png 1306w,
                assets\img\logo_plat_scale,w_2160.png 2160w" src="assets\img\logo_plat_scale,w_2160.png" alt="logo"
                    style="max-width: 15rem;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="collapse_target">
            <ul class="navbar-nav">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/home']">Home</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/support']">Support</a>
                </li>
                <li *ngIf="isLoggedIn;" class="mobile nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/profile']">{{ username }}</a>
                </li>
                <li *ngIf="isLoggedIn;" class="mobile nav-item" [routerLinkActive]="['upload']">
                    <a class="nav-link" [routerLink]="['/upload']">Upload</a>
                </li>
                <li *ngIf="isLoggedIn;" class="mobile nav-item">
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ul>
            <ul *ngIf="!isLoggedIn;" class="navbar-nav ms-auto">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/login']"><svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512" width="1rem">
                            <path
                                d="m465.535156.320312c-.53125-.042968-.980468-.320312-1.535156-.320312h-229.332031c-35.285157 0-64 28.714844-64 64v21.332031c0 11.777344 9.554687 21.335938 21.332031 21.335938s21.332031-9.558594 21.332031-21.335938v-21.332031c0-11.753906 9.578125-21.332031 21.335938-21.332031h99.390625l-6.507813 2.175781c-17.277343 5.972656-28.882812 22.25-28.882812 40.488281v320h-64c-11.757813 0-21.335938-9.578125-21.335938-21.332031v-42.667969c0-11.773437-9.554687-21.332031-21.332031-21.332031s-21.332031 9.558594-21.332031 21.332031v42.667969c0 35.285156 28.714843 64 64 64h64v21.332031c0 23.53125 19.132812 42.667969 42.664062 42.667969 4.566407 0 8.898438-.660156 13.589844-2.113281l128.171875-42.730469c17.300781-5.972656 28.90625-22.25 28.90625-40.488281v-384c0-24.875-21.441406-44.375-46.464844-42.347657zm0 0" />
                            <path
                                d="m228.414062 198.25-85.332031-85.332031c-6.101562-6.101563-15.273437-7.9375-23.253906-4.628907-7.957031 3.304688-13.160156 11.09375-13.160156 19.710938v64h-85.335938c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h85.335938v64c0 8.617187 5.203125 16.402343 13.160156 19.710937 7.980469 3.304688 17.152344 1.472656 23.253906-4.628906l85.332031-85.335938c8.34375-8.339843 8.34375-21.820312 0-30.164062zm0 0" />
                        </svg> Login</a>
                </li>
            </ul>
        </div>
        <!-- <div *ngIf="isLoggedIn;" class="tr-profile">
            <div class="float-start pe-2">
                <p [routerLink]="['/profile']">{{ username }}</p>
                <p (click)="logout()">Logout</p>
            </div>
            <img src="{{ profilePicture }}" alt="profile picture" width="40px" [routerLink]="['/profile']">
        </div> -->
        <div *ngIf="isLoggedIn;" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownBtn" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{ username }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownBtn">
                <li>
                    <div class="dropdown-item" [routerLink]="['/profile']">
                        <img class="float-end" src="{{ profilePicture }}" alt="profile picture" width="40px">
                        <p>view profile</p>
                    </div>
                </li>
                <li><a class="dropdown-item" style="text-align: right;" [routerLink]="['/upload']">Upload</a></li>
                <li><a class="dropdown-item" style="text-align: right;" (click)="logout()">Logout</a></li>
            </ul>
        </div>
        <div *ngIf="isLoggedIn;" class="dropdown-mobile">
            <button class="btn btn-secondary dropdown-toggle pt-0 pb-0" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img class="float-end" src="{{ profilePicture }}" alt="profile picture" width="40px">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownBtn">
                <li>
                    <div class="dropdown-item" [routerLink]="['/profile']">
                        <p>{{ username }}</p>
                    </div>
                </li>
                <li>
                    <div class="dropdown-item" [routerLink]="['/upload']">
                        <p>Upload</p>
                    </div>
                </li>
                <li>
                    <div class="dropdown-item" (click)="logout()">
                        <p>Logout</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="top-message" class="text-center" style="position: fixed; width: 100%; transform: translateY(-1rem); transition: transform 1s ease-in-out; z-index: 5;">
    <div class="alert alert-success" style="display: table; margin: 0 auto">
        successfully uploaded file
    </div>
</div>